<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Centralized connection string used across the app -->
    <add name="PhoneStore"
         connectionString="Data Source=.;Initial Catalog=PhoneStore_V6;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>